/* courtesy of Aivosto.com style sheet */

body, th, td, caption, input { 
   font-family: verdana,arial,helvetica,sans-serif;
}

table {
   /* Firefox requires this to inherit font size to tables */
   font-size: 100%;
}
td.menu, td.body {
   font-size: 75%; 
}

body, table { 
   line-height: 1.3;
}

body {
  background: white url("http://www.110mb.com/404.php");
  background-repeat: repeat-y;
  background-position: left;

  /* IE6 prints better when left/right margin is not set */
  margin-top: 1ex;
  color: black;
}

th, caption { font-weight: bold; }
caption { font-variant:small-caps; }

ul, ol {
   MARGIN-TOP: 0;
   list-style-position: outside;
}

ol ul {
   MARGIN-TOP: 0;
   list-style-type: disc;
}

UL.simple {
   list-style-type: none;
   list-style-position: outside;
   margin-left: 0;  /* IE6 */
   padding-left: 0; /* Firefox 1.0 */
}
UL.simple LI {
   list-style-type: none;
   list-style-position: outside;
}


h2.pagetitle {
   background: #CCCCFF; /* Blue */ 
   padding: 5px 10px;
   border: 1px solid red;
   margin-top: 0; /* For Opera 8.51 */
}

h2 {
   /*font-size: 12pt;*/
   font-size: 130%;
}

h3 {
   /*font-size: 11pt;*/
   font-size: 125%;
}

h4 { font-size: 120%; }

h5 { font-size: 100%; }


a:link img, a:visited img { border-color: black; }
a:hover img, a:active img { border-color: #ff6600; }
TD.menu a:hover img { border-color: black; }

a:link    { COLOR: #800000; /*#800000*/ }
a:visited { COLOR: #800000; }
a:hover, 
a:active  { COLOR: #ff6600;  }

td.menu {
   font-weight: bold;
   line-height: 1.5;
   width: 200px;
}

td.menu img {
   border-color: black;
   margin-bottom: 0.2ex; /* For Firefox 1.0 */
}

td.menu a:link, td.menu a:visited {
   color: #660000;
   color: #800000;
   text-decoration: none; 
}
td.menu .menu2 a:visited {
   color: #660000;
   color: #800000; 
}

td.menu a:hover, td.menu a:active, td.menu .menu2 a:hover, td.menu .menu2 a:active {
   color: #ff6600; 
}
P.menu { margin-top: 0; } /* Menu/Visustin */

.menu2 { 
   font-size: 90%; 
   line-height: 1.3; /* This only affects Firefox 1.0, not IE6 */
}
.menu3 { padding-left: 9pt; }
.menu2 A { font-weight: normal;  }

/* Link filetype */
.filetype { color: #c60; font-weight: normal; font-size: 90%;  }

/* Popup link icon */
img.popup { border-width: 0; vertical-align: top; width: 9px; height:
9px; padding-left: 0.5ex; }

img.rss { 
   border-width: 0; 
   vertical-align: bottom; 
   width: 36px;
   height: 14px;
}
table.subscribe img.rss { margin-top: 1ex; }

img.flag { border: 0; }

/* Quotes in the side bar */
p.quote {
   margin-top: 2em;  margin-bottom: 0; 
   font-weight: normal;
   font-size: 85%; /*7.5pt;*/
   line-height: 1.2;
   width: 160px;
}
p.name {
   text-align: right;
   font-weight: normal;
   font-size: 85%;
   /*font-size: 7.5pt;*/
   font-style: italic;
   line-height: 1.3;
   width: 160px;
   margin-top: 0; 
}
P.URN { font-size: smaller; text-align: right; margin: 1em; color: #666666; }


.emphasis {
   color: black; /*#000066;*/
   font-weight: bold;
}
strong { font-weight: bold; }

td.emphasize, p.emphasize {
   padding: 1ex;
   background: #CCCCFF; /* Blue */ 
   border: 1px solid black;
}

/* Blue box with thin black border, like emphasize but no font effect */
td.bluebox {
   padding: 1em;
   background: #CCCCFF; /* Blue */ 
   border: 1px solid black;
}

.indent { margin-left: 3em; margin-right: 3em; }

.longarticle {
   text-align: justify;   
   margin-right: 2em;
}
.longarticle H2 { border-top: 1pt solid #cccccc; padding-top: 1ex; }

code, pre, tt {
   font-family: "courier new",monospace;
   text-align: left;
}
code { color: #000066; }

pre.code {
   margin-left: 2em;
   color: #000066;
}

pre.code .comment {
   color: #006600; /* Dark green */
}

.PA { color: red; font-weight: bold; }

small  { font-size: 80%; }
.small { font-size: 85%; }

td.smallcolumn {
   text-align: justify;
   padding-left: 8px;
   padding-right: 8px;
}

dfn {
   font-weight: bold;
   font-variant: small-caps;
   font-style: normal;
   width: 85%;
   margin-left: 2em;
}

address {
   MARGIN-TOP: 25px;
   font-style: normal;
   color: #000080;
   text-align: center;
   border: none;
}
address img, img.e-addr { vertical-align: top; border: 0px; width: 133px; height: 17px; }

/* Stylish orange table  */
table.stylish td, table.stylish th {
  border: 0px;
  padding-left: 2ex; 
  padding-right: 2ex;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
table.stylish td {
  background: white;
  padding-top: 0.5ex; 
  padding-bottom: 0.5ex;
}
table.stylish th, table.stylish th.empty { 
   background: #FFCC66; /* Orange */ 
   padding-top: 0.5ex; padding-bottom: 0.5ex; 
}
table.stylish td.empty {
  background: #FFFFFF;
}
table.stylish { 
   border-color:black;
   border-style:solid;
   border-width:2px;  
   background: black;
   border-collapse: collapse;  /* cellspacing = 0 */
}

table.normal th, table.normal td, table.numbers th {
  text-align: left;
  vertical-align: top;
  padding: 2px 4px 2px 0;
}
table.tabs { border-collapse: collapse; }
table.tabs th, table.tabs td {
  text-align: left;
  vertical-align: top;
  padding: 0 1ex 0 0;
}

table.publication td, table.updated td {
  border: 1px solid black;
  padding: 1ex;
  background-color: white;
}
table.updated h5 {
  margin-bottom: 3pt; margin-top: 0;
}
table.publication td {
  font-size: 95%; background-color: #f8f8ff;
}
table.publication, table.updated {
  height: 8em;
  margin-top: 0; margin-bottom: 1ex;
}



/* Subscription box */
table.subscribe {
   border-color:black;
   border-style:solid;
   border-width:1px;
   background: #C0C0FF; /* Blue */ 
   font-weight: normal;
   width: 160px;
}
th.subscribe {
   font-size: 9pt;
   font-weight: normal;
   background: #9999FF; /* Darker blue */ 
   padding: 3px 5px 3px 5px;
   white-space: nowrap;
}
th.subscribe a:link, th.subscribe a:visited, th.subscribe a:active  {
   text-decoration: underline;
   color: black;
}
th.subscribe a:hover {
   COLOR: #ff6600;
   text-decoration: underline;
}
td.subscribe {
   font-size: 8pt;
   background: #C0C0FF; /* Blue */ 
   padding: 2px 5px 5px 5px;
   text-align: center;
}
td.subscribe input {
   font-size: 8pt;
   border: inset 2px;
   padding-left: 0.2ex; /* For Firefox 1.0 */
}


/* Product page price tables */
table.prodprice {
   border: solid black 2px;
   background: white;
   border-collapse: collapse;  /* cellspacing = 0 */
}
/* Main padding to give space between cells/rows  */
table.prodprice td, table.prodprice th {
   padding: 0.5ex;
   padding-right: 1ex; /* Required, otherwise right-aligned cell will look bad */
}
/* Price table main header */
table.prodprice th {
   border-bottom: solid black 1px ;
   background: #FFCC66 /* #FFE04D; Orange */
}
/* Inner price table keeping all content except for main header line */
table.prodprice table {
   background: white; /* #FFCC66 /* #FFE04D; Orange */
   border: none;
   width: 100%;
   /* Column header font settings */
   font-weight: bold;
}
/* Inner price table, individual price lines */
table.prodprice td table tr.prodpriceline {
   font-weight: normal; /* Override bold header font setting */
}

/* Upgrade prices in small italics (Visustin only) */
table.prodprice td.upgrade, table tr.upgrade {
   font-size: 85%; 
}



/* Price tables - WWW only */
TABLE.prices TR.title A:visited, TABLE.prices TR.title A:link { color:black; } 



/* Price tables - WWW and help */
TABLE.prices    { border: 2px solid black; border-collapse: collapse; /* cellspacing = 0 */ }
TABLE.prices TH { background: #FFDD99; /* Orange */ border: 1px solid #666; padding: 0.4em; }
TABLE.prices TD { background: white; border-right: 1px solid #ccc; padding: 0.4em; }
TABLE.prices TR.subtitle TH { background: #FFDD99;  font-weight: bold; }
TABLE.prices TR.subtitle-upgrade TH { background: #FFEEDD; font-weight: normal; }
TABLE.prices TR.subtitle TD A:visited, TABLE.prices TR.subtitle TD A:link { color:black; } 


TABLE.prices TD:first-child { text-align: left; }  /* Firefox & Opera: Align row headers to the left */
TABLE.prices TD+TD { text-align: right; }          /* Firefox & Opera: Align prices to the right */

TABLE.prices TH:first-child { text-align: left; }  /* Firefox & Opera: Align row headers to the left */
TABLE.prices TH+TH { text-align: center; }          /* Firefox & Opera: Align prices to the right */

TABLE.prices COLGROUP.price TD { text-align: right; } /* IE6: Align prices and headers to the right */
TABLE.prices COLGROUP.rowheader { text-align: left; } /* IE6: Align row headers to the left */


TABLE.prices TR TD { border-top: 1px solid #ccc;  }

TABLE.prices { empty-cells: show; }

TABLE.prices TR.extra TD { font-style: italic; padding-bottom: 2em; }
TABLE.prices .from { /*color: #900;*/ font-style: italic; }
TABLE.prices .to { /*color: #060;*/ font-style: italic; }

TABLE.prices .upgrades { font-size: 85%; font-weight: normal; }



/* Order instructions */
DIV.paymentheader {
   margin: 1em 0 1em 0px;
   border: 1px solid black;
   background: #CCCCFF; /* Blue */ 
   padding: 1ex 1ex 1ex 2ex;
   clear: right;
}
DIV.paymentheader H3 {
   margin-top: 0; margin-bottom: 0.5ex;
}

TABLE.invoice {
   margin-top: 1ex;
}

TD.invoice {
   padding: 10px 10px 0 0;
}

TD.VAT {
   padding: 10px;
   color: yellow;
   background: #000080; /* Dark blue */
   border: 2px outset;
   font-size: 90%;
}
TD.VAT H4 { 
   margin-top: 0; /* Opera 8.5 bug fix */ 
   margin-bottom: 1ex;
}
TD.VAT P { 
   margin-top: 0;
}


PRE.license {
   border-top: 3px dotted #ccc;
   border-bottom: 3px dotted #ccc;
   border-left: 3px dotted #ccc;
   padding: 1em;
   font-family: verdana,arial,helvetica,sans-serif;
}

.FAQ H3 {
   border-top: 1px solid #cccccc;
   padding-top: 1ex;
}
.FAQ H4 {
   font-size: 100%; margin-bottom: 0.3ex; 
}
.FAQ P {
   margin-top: 0; margin-bottom: 1ex;
}
.linkline A { margin-right: 2em; clear: left;  }
.linkline { margin-left: 1em; }

/* Orange-Blue scrollbar */
html {
   scrollbar-face-color: #FFDD99;    /* Main color is orange */ 
   scrollbar-highlight-color: white; /* Full white highlight */
   scrollbar-3dlight-color: #FFDD99; /* Same as main color */
   scrollbar-darkshadow-color: black;/* Darkest shadow is black */
   scrollbar-shadow-color: #cc9966;  /* Middle shadow is brown */
   scrollbar-arrow-color: black;     /* Black arrow */
   scrollbar-track-color: #EEEEFF;   /* Very light blue */ 
}
	

.editions {
   color: #CC6633; /* Dark orange */
   font-weight: normal;
   font-size: 85%;
}

/* PA editions.html, VBW editions */
TABLE#editions TD,
TABLE#editions TR.subtitle TH  { border-color: #cccccc; }
TABLE#editions TH { border-color: black; }
TABLE#editions TH#pro { border-top-color: black; }
TABLE#editions TR.subtitle TH { background: #f8f8f8; font-weight: bold; text-align: left; }
TABLE#editions TD.no { color: gray; font-weight: normal; }
TABLE#editions TD.yes { font-weight:bold; }



/* Firefox, Opera */
/* Some margin on top of banners */
td.menu img[width="160"] {
   margin-top: 1em;
}
/* Firefox, Opera */
/* Add small margin below top-left image, before menu */
td.menu img[alt="VBShop"] {
   margin-bottom: 1em;
   margin-top: 0;
}


@media print {
   /* Hide menu bar and background */
   td.menu { display: none; }
   body { background: white; background-image: none; }

   /* Add URL for Firefox and Opera */
   address:after {
      content: " - courtesy of www.aivosto.com"; 
   }

}