a.mainbtm			{ font-family:arial; text-decoration:none; font-size:9pt; font-weight:none; color:#66FF33;}
a.mainbtm:link		{ font-family:arial; text-decoration:none; font-size:9pt; font-weight:none; color:#66FF33;}
a.mainbtm:visited	{ font-family:arial; text-decoration:none; font-size:9pt; font-weight:none; color:#66FF33;}
a.mainbtm:hover		{ font-family:arial; text-decoration:none; font-size:9pt; font-weight:none; color:#66FF33;}

a.mainanons			{ font-family:arial; text-decoration:none; font-size:9pt; font-weight:none; color:#66FF33;}
a.mainanons:link	{ font-family:arial; text-decoration:none; font-size:9pt; font-weight:none; color:#66FF33;}
a.mainanons:visited	{ font-family:arial; text-decoration:none; font-size:9pt; font-weight:none; color:#66FF33;}
a.mainanons:hover	{ font-family:arial; text-decoration:none; font-size:9pt; font-weight:none; color:#66FF33;}

p.mainnewsdate		{ font-family:arial; text-decoration:none; font-size:9pt; font-weight:none; color:#FFFFFF;
					  text-indent:0px; margin: 5 0 2 10 px; }
p.mainnewsname		{ font-family:arial; text-decoration:none; font-size:9pt; font-weight:none; color:#66FF33;
					  text-indent:0px; margin: 0 3 2	 35 px; text-align: left; }
a.mainnews			{ font-family:arial; text-decoration:none; font-size:9pt; font-weight:none; color:#66FF33;}
a.mainnews:link		{ font-family:arial; text-decoration:none; font-size:9pt; font-weight:none; color:#66FF33;}
a.mainnews:visited	{ font-family:arial; text-decoration:none; font-size:9pt; font-weight:none; color:#66FF33;}
a.mainnews:hover	{ font-family:arial; text-decoration:none; font-size:9pt; font-weight:none; color:#66FF33;}

p.mainanonsdate		{ font-family:arial; text-decoration:none; font-size:9pt; font-weight:none; color:#FFFFFF;
					  text-indent:0px; margin: 0 0 0 10 px; }
p.mainanonsname		{ font-family:arial; text-decoration:none; font-size:9pt; font-weight:none; color:#66FF33;
					  text-indent:0px; margin: 0 10 7 10 px; text-align: left; }
a.mainanons			{ font-family:arial; text-decoration:none; font-size:9pt; font-weight:none; color:#66FF33;}
a.mainanons:link	{ font-family:arial; text-decoration:none; font-size:9pt; font-weight:none; color:#66FF33;}
a.mainanons:visited	{ font-family:arial; text-decoration:none; font-size:9pt; font-weight:none; color:#66FF33;}
a.mainanons:hover	{ font-family:arial; text-decoration:none; font-size:9pt; font-weight:none; color:#66FF33;}

p.scoolmain			{ font-family:arial; text-decoration:none; font-size:9pt; font-weight:none; color:#66FF33;
					  text-indent:-20px; margin: 0 10 7 40 px; text-align: left; }
a.scoolmain			{ font-family:arial; text-decoration:none; font-size:9pt; font-weight:none; color:#66FF33;}
a.scoolmain:link	{ font-family:arial; text-decoration:none; font-size:9pt; font-weight:none; color:#66FF33;}
a.scoolmain:visited	{ font-family:arial; text-decoration:none; font-size:9pt; font-weight:none; color:#66FF33;}
a.scoolmain:hover	{ font-family:arial; text-decoration:none; font-size:9pt; font-weight:none; color:#66FF33;}

a.mdar			{ text-decoration:none; }
a.mdar:link		{ text-decoration:none; }
a.mdar:visited	{ text-decoration:none; }
a.mdar:hover	{ text-decoration:none; }
img.mdar		{ margin: 0 10 0 10px; }
div.mdarabout		{ margin-left:10px; }

p.maintorazdel			{ font-family:arial; text-decoration:none; font-size:9pt; font-weight:bold; color:#FFFFFF;
						  text-indent:0px; margin: 10 10 0 0 px; text-align:right; }
a.maintorazdel			{ font-family:arial; text-decoration:none; font-size:9pt; font-weight:none; color:#66FF33;}
a.maintorazdel:link		{ font-family:arial; text-decoration:none; font-size:9pt; font-weight:none; color:#66FF33;}
a.maintorazdel:visited	{ font-family:arial; text-decoration:none; font-size:9pt; font-weight:none; color:#66FF33;}
a.maintorazdel:hover	{ font-family:arial; text-decoration:none; font-size:9pt; font-weight:none; color:#66FF33;}

p.anonsdate		{ font-family:arial; text-decoration:none; font-size:9pt; font-weight:none; color:#FFFFFF;
					  text-indent:0px; margin: 0 0 0 10 px; text-align: left; }
p.anonsname		{ font-family:arial; text-decoration:none; font-size:9pt; font-weight:none; color:#66FF33;
					  text-indent:0px; margin: 0 0 7 25 px; text-align: left; }
p.anonsloc		{ font-family:arial; text-decoration:none; font-size:9pt; font-weight:none; color:#66FF33;
					  text-indent:0px; margin: 0 0 0 25 px; text-align: left; }
p.anonslocindoc	{ font-family:arial; text-decoration:none; font-size:9pt; font-weight:none; color:#66FF33;
					  text-indent:0px; margin: 3 0 0 10 px; text-align: left; }
a.anons			{ text-decoration:underline; font-size:9pt; font-weight:none; color:#66FF33; }
a.anons:link	{ text-decoration:underline; font-size:9pt; font-weight:none; color:#66FF33; }
a.anons:visited	{ text-decoration:underline; font-size:9pt; font-weight:none; color:#66FF33; }
a.anons:hover	{ text-decoration:underline; font-size:9pt; font-weight:none; color:#66FF33; }

a.onlinemain			{ text-decoration:none; font-size:9pt; font-weight:none; }
a.onlinemain:link		{ text-decoration:none; font-size:9pt; font-weight:none; }
a.onlinemain:visited	{ text-decoration:none; font-size:9pt; font-weight:none; }
a.onlinemain:hover		{ text-decoration:none; font-size:9pt; font-weight:none; }
p.onlinepodpis			{ text-align:right; }

p.docagroup		{ margin-bottom:5px; }
p.docsdate		{ font-family:arial; text-decoration:none; font-size:9pt; font-weight:none; color:#FFFFFF;
					  text-indent:0px; margin: 0 0 0 45 px; text-align: left; }
p.docsname		{ font-family:arial; text-decoration:none; font-size:9pt; font-weight:none; color:#66FF33;
					  text-indent:0px; margin: 0 0 7 45 px; text-align: left; }
a.docs			{ text-decoration:none; font-size:9pt; font-weight:none; color:#66FF33; }
a.docs:link		{ text-decoration:none; font-size:9pt; font-weight:none; color:#66FF33; }
a.docs:visited	{ text-decoration:none; font-size:9pt; font-weight:none; color:#66FF33; }
a.docs:hover	{ text-decoration:none; font-size:9pt; font-weight:none; color:#66FF33; }

p.alllinkedit			{ text-align:right;  text-decoration:none; font-size:9pt; font-weight:none;
						  text-indent:0px; margin: 0 0 0 0 px; color:red; }
a.alllinkedit			{ color:red; }
a.alllinkedit:link		{ color:red; }
a.alllinkedit:visited	{ color:red; }
a.alllinkedit:hover		{ color:red; }

a    	  { font-family:arial;text-decoration: none;font-size:9pt;font-weight: none;color: #66FF33;}
a:link    { font-family:arial;text-decoration: none;font-size:9pt;font-weight: none;color: #66FF33;}
a:visited { font-family:arial;text-decoration: none;font-size:9pt;font-weight: none;color: #66FF33;}
a:hover   { font-family:arial;text-decoration: underline;font-size:9pt;font-weight: none;color: #990000;}

p.typelist		{ font-family:arial; text-decoration:none; font-size:9pt; font-weight:none;
					  text-indent:0px; margin: 0 0 7 25 px; text-align: left; color:#66FF33; }
a.type			{ text-decoration:none; font-weight:none; color:#66FF33; }
a.type:link		{ text-decoration:none; font-weight:none; color:#66FF33; }
a.type:visited	{ text-decoration:none; font-weight:none; color:#66FF33; }
a.type:hover	{ text-decoration:underline; font-weight:none; color:#66FF33; }

a.tree2header			{ text-decoration:none; }
a.tree2header:link		{ text-decoration:none; }
a.tree2header:visited	{ text-decoration:none; }
a.tree2header:hover		{ text-decoration:none; }





a.maillink    	    { font-family: Arial; text-decoration: none; font-size: 8pt; font-weight: normal; color: #FFFFFF;}
a.maillink:link    { font-family: Arial; text-decoration: none; font-size: 8pt;}
a.maillink:visited { font-family: Arial; font-size: 8pt; text-decoration: none; font-weight: normal; color: #FFFFFF;}
a.maillink:hover   { font-family: Arial; text-decoration: none; font-size: 8pt; font-weight: normal; color: #FFFFFF;} 

a.menulink2    	{ font-family: Arial; text-decoration: none; font-size: 8pt; font-weight: bold; color: #66FF33;}
a.menulink2:link    { font-family: Arial; text-decoration: none; font-size: 8pt;}
a.menulink2:visited { font-family: Arial; font-size: 8pt; text-decoration: none; font-weight: bold; color: #66FF33;}
a.menulink2:hover   { font-family: Arial; text-decoration: none; font-size: 8pt; font-weight: bold; color:#FFFFFF;}

a.menulink    	    { font-family: Arial; text-decoration: none; font-size: 9pt; font-weight: bold; color: #66FF33;}
a.menulink:link    { font-family: Arial; text-decoration: none; font-size: 9pt;font-weight: bold;}
a.menulink:visited { font-family: Arial; font-size: 9pt; text-decoration: none; font-weight: bold; color: #66FF33;}
a.menulink:hover   { font-family: Arial; text-decoration: none; font-size: 9pt; font-weight: bold; color:#FFFFFF;}

a.doclink         { font-family: Arial; text-decoration: none; font-size: 9pt; font-weight: bold; color: #66FF33;margin-left:10px}
a.doclink:link    { font-family: Arial; text-decoration: none; font-size: 9pt;margin-right:10pt}
a.doclink:visited { font-family: Arial; font-size: 9pt; text-decoration: bold; font-weight: bold; color: #66FF33;margin-left:10px}
a.doclink:hover   { font-family: Arial; text-decoration: none; font-size: 9pt; font-weight: bold; color:#FFFFFF ;margin-left:10px}


a.fullref    	    { font-family: Verdana; text-decoration: none; font-size: 7pt; font-weight: none; color: #FFFFFF;margin-right:20px}
a.fullref:link     { font-family: Verdana; text-decoration: none; font-size: 7pt; font-weight: none; color: #FFFFFF;margin-right:20px}
a.fullref:visited  { font-family: Verdana; text-decoration: none; font-size: 7pt; font-weight: none; color: #FFFFFF;margin-right:20px}
a.fullref:hover    { font-family: Verdana; text-decoration: none; font-size: 7pt; font-weight: none; color: #FFFFFF;margin-right:20px}


a.newslink    	    { font-family:arial;text-decoration: none;font-size:9pt;font-weight: none;color: #66FF33;}
a.newslink:link    { font-family:arial;text-decoration: none;font-size:9pt;font-weight: none;color: #66FF33;}
a.newslink:visited { font-family:arial;text-decoration: none;font-size:9pt;font-weight: none;color: #66FF33;}
a.newslink:hover   { font-family:arial;text-decoration: none;font-size:9pt;font-weight: none;color: #66FF33;}

a.link    	    { font-family:arial;text-decoration: underlined;font-size:9pt;font-weight: none;color: #000000;}
a.link:link        { font-family:arial;text-decoration: underlined;font-size:9pt;font-weight: none;color: #000000;}
a.link:visited     { font-family:arial;text-decoration: underlined;font-size:9pt;font-weight: none;color: #000000;}
a.link:hover       { font-family:arial;text-decoration: underlined;font-size:9pt;font-weight: none;color: #000000;}

a.fotohead    	    	   { font-family: Arial; text-decoration: none; font-size: 9pt; font-weight: bold; color: #66FF33}
a.fotohead:link        { font-family: Arial; text-decoration: none; font-size: 9pt; font-weight: bold; color: #66FF33}
a.fotohead:visited     { font-family: Arial; text-decoration: none; font-size: 9pt; font-weight: bold; color: #66FF33}
a.fotohead:hover       { font-family: Arial; text-decoration: none; font-size: 9pt; font-weight: bold; color: #66FF33}


a.fotoshort    	    { font-family: Arial; text-decoration: none; font-size: 7pt; font-weight: none; color: #8F724F}
a.fotoshort:link        { font-family: Arial; text-decoration: none; font-size: 7pt; font-weight: none; color: #8F724F}
a.fotoshort:visited     { font-family: Arial; text-decoration: none; font-size: 7pt; font-weight: none; color: #8F724F}
a.fotoshort:hover       { font-family: Arial; text-decoration: none; font-size: 7pt; font-weight: none; color: #8F724F}

span.fotohead	  	{ font-family: Arial; text-decoration: none; font-size: 9pt; font-weight: bold; color: #66FF33}
span.fotoshort	  	{ font-family: Arial; text-decoration: none; font-size: 7pt; font-weight: none; color: #8F724F}

span.newsdate    	{ font-family: Arial; text-decoration: none; font-size: 9pt; font-weight: none; color: #FFFFFF;margin-right:6pt}


span.fullref    	{ font-family: Verdana; text-decoration: none; font-size: 7pt; font-weight: none; color: #FFFFFF;margin-right:20px}


span.actionname    	{ font-family: Arial; text-decoration: bold; font-size: 8pt; font-weight: none; color: #FFFFFF}

span.action	  	{ font-family: Arial; text-decoration: none; font-size: 8pt; font-weight: none; color: #66FF33}

span.anonshead	  	{ font-family: Arial; text-decoration: none; font-size: 9pt; font-weight: bold; color: #C19B77}

span.name		  	{ font-family: Arial; text-decoration: none; font-size: 9pt; font-weight: bold; color: #FFFFFF}

span.head		  	{ font-family: Arial; text-decoration: none; font-size: 10pt; font-weight: bold; color: #66FF33}



span.newhead	  	{ font-family: Arial; text-decoration: none; font-size: 10pt; font-weight: none; color: #66FF33;margin-left:13px}

span.newh		  	{ font-family: Arial; text-decoration: none; font-size: 10pt; font-weight: bold; color: #66FF33;margin-left:15px}

span.newdate    	{ font-family: Arial; text-decoration: none; font-size: 8pt; font-weight: none; color: #FFFFFF;margin-left:15px}
span.maillink		{font-family: Arial; text-decoration: none; font-size: 8pt; font-weight: normal; color: #FFFFFF;margin-left:10px}
 	 
p.shortnews	{	text-align:justify;
				text-indent:0;
				margin-top:0;
				margin-bottom:0;
				font-family:arial;font-size:9pt;font-weight: none;color: #66FF33;
				margin-right:6px;margin-left:6px;
				}

p.shortnew	{	text-align:justify;
				text-indent:0;
				margin-top:0;
				margin-bottom:0;
				font-family:arial;font-size:8pt;font-weight: none;color: #66FF33;
				margin-right:6px;margin-left:15px;
				}				
				
				
				
p.anons	{	text-align:justify;
				text-indent:0;
				margin-top:0;
				margin-bottom:0;
				font-family:arial;font-size:9pt;font-weight: none;color: #66FF33;
				margin-right:6px;margin-left:6px;
				}				
				
p		{	text-align:justify;
				text-indent:15px;
				margin-top:5px;
				margin-bottom:0;
				font-family:arial;font-size:9pt;font-weight: none;color: #66FF33;
				margin-right:6px;margin-left:6px;
				}

center{font-family:arial;font-size:9pt;font-weight: none;color: 66FF33;}
td.top1	    {height:30;
			background-image: url("/images/1top.gif")}
td.top2	    {height:30;
			background-image: url("/images/2top.gif")}
td.top3	    {height:30;
			background-image: url("/images/3top.gif")}
			
td.bottom1	{height:34;
			background-image: url("/images/1bottom.gif")}			
td.bottom2	{height:34;
			background-image: url("/images/2bottom.gif")}			
td.bottom3	{height:34;
			background-image: url("/images/3bottom.gif")}									



td.right	    {width:1;
			align:left;
			background-image: url("/images/m_point.gif")}

td.right2	    {width:1;
			align:left;
			background-image: url("/images/m2_point.gif")}
			

######################################################################################################
}
DIV.T3InfoBar		{	position:absolute; left:0; top:0; width:300px;
					background:white; border:solid 1px black; margin:5; overflow:hidden; }

P.T3Info		{	margin:2px; text-indent:0px; text-align:left; }
P.T3InfoLast	{	margin:2px; text-indent:0px; text-align:left; border-bottom:1px solid black; }
P.T3InfoCap		{	margin:2 7px; text-indent:0px; text-align:left; color:black }

P.T3InfoHeader	{	margin:2px; text-indent:0px; text-align:right; color:black; border-bottom:1px solid black; cursor:hand; }

SPAN.T3InfoName	{	color:770000; }

P.T3FormLabel	{	text-indent:0;	}
P.T3FormInput	{	text-indent:0; margin-bottom:15px; }

INPUT.T3FormButton	{	width:100px; }

P.T3Inner		{	margin:0 0 5 40px; text-indent:0px; }
DIV.T3Inner		{	margin-top:15px; }

P.FOTOlist		{	margin:0 0 0 35px; text-indent:0px;	}
P.FOTOlistdate	{	margin:10 0 0 5px; text-indent:0px; color:FFFFFF;	}
P.FOTOprew		{	margin:0px; text-indent:0px; text-align:center;	}
P.FOTOimg		{	margin:0px; text-indent:0px; text-align:center;	margin:3 0px;	}
A.FOTO			{	text-decoration:none;	}
A.FOTO:visited	{	text-decoration:none;	}
A.FOTO:hover	{	text-decoration:underline;	}
A.FOTO:link		{	text-decoration:none;	}

SPAN.M3PREVrem	{ font-family:Arial; text-decoration:none; font-size:7pt; font-weight:none; color:8F724F; width:160px;	}
